### Análise da quantidade de ideogramas por nível de HSK

In [29]:
import pandas as pd
import numpy as np
%matplotlib inline

Primeiro, é feito uma leitura dos arquivos com as palavras de cada HSK

In [30]:
DATA_PATH = "../data/"
#São 6 arquivos separados com as palavras, então juntou-se os 6 arquivos em um único dataframe
NAME = "HSK Official With Definitions 2012 L{hsk_level:0d} freqorder.txt"
DATA_DICT = {i : NAME.format(hsk_level=i) for i in range (1, 7)} 

COLUNAS = ['simplificado', 'tradicional', 'pinyin_num', 'pinyin_carac', 'significado']
df_list = list()
for hsk in DATA_DICT:
    aux = pd.read_csv(DATA_PATH + DATA_DICT[hsk], sep='\t', header=0, names=COLUNAS)
    aux['nivel_hsk'] = hsk
    df_list.append(aux.copy())
df = pd.concat(df_list).reset_index(drop=True)
df

,simplificado,tradicional,pinyin_num,pinyin_carac,significado,nivel_hsk
0,我,我,wo3,wǒ,I; me,1
1,你,你,ni3,nǐ,you (singular),1
2,是,是,shi4,shì,be; is; are; am,1
3,了,了,le5,le,indicates a completed or finished action,1
4,不,不,bu4,bù,no; not,1
...,...,...,...,...,...,...
4990,深情厚谊,深情厚誼,shen1qing2hou4yi4,shēnqínghòuyì,profound friendship,6
4991,武侠,武俠,wu3xia2,wǔxiá,knight-errant; a genre of swordplay martial ar...,6
4992,将就,將就,jiang1jiu5,jiāngjiu,put up with; accept somewhat reluctantly,6
4993,对联,對聯,dui4lian2,duìlián,rhyming couplet; vertical written couplet usua...,6
4994,华侨,華僑,hua2qiao2,huáqiáo,overseas Chinese,6

No trecho de código abaixo foi separado cada ideograma das palavras (palavras podem ter um ou mais ideogramas) e colocado em uma lista

In [31]:
palavras = df[['simplificado','nivel_hsk']]

ideo = list()
for i in range(0, palavras['simplificado'].str.len().max()):
    ideo.append(palavras['simplificado'].str[i].dropna())
ideo

lista = pd.Series()
for i in ideo:
    lista = lista.append(i)
lista

<ipython-input-31-9ab62db2a0fc>:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  lista = pd.Series()

0       我
1       你
2       是
3       了
4       不
       ..
4982    见
4983    深
4987    桑
4988    兽
4990    谊
Length: 9656, dtype: object

In [32]:
palavras = df[['simplificado','nivel_hsk']]

lista = list()
for i in range(0, palavras['simplificado'].str.len().max()):
    lista.append(palavras['simplificado'].str[i].dropna())
lista

ideo = pd.concat(lista).reset_index(drop=True)
ideo

0       我
1       你
2       是
3       了
4       不
       ..
9651    见
9652    深
9653    桑
9654    兽
9655    谊
Name: simplificado, Length: 9656, dtype: object

É possível perceber abaixo que há ideogramas repetidos, isso se dá porque existem palavras que compartilham o mesmo ideograma

In [33]:
ideo[ideo == '一'].count()

31

In [34]:
ideo = ideo.reset_index(drop=True)

Aqui e contado a quantidade de vezes que tal ideograma aparece e ordenado em ordem decrescente   
Também vale destacar que há 2660 ideogramas diferentes em todos os níveis de HSK

In [35]:
df_qtd = pd.DataFrame()
df_qtd['caracter'] = ideo
df_qtd = df_qtd.groupby('caracter').size().reset_index(name='qtd')
df_qtd = df_qtd.sort_values('qtd', ascending=False)
df_qtd

     caracter  qtd
8           不   64
659         子   58
875         心   41
1388        气   39
373         发   38
...       ...  ...
869         徘    1
870         徙    1
871         御    1
1768        磕    1
664         孙    1

[2660 rows x 2 columns]

Salvando o dataframe acima com os ideogramas de todos os HSK

In [36]:
df_qtd.to_csv('../data/ideogramas por quantidade.txt', index=False)

Aqui pretende-se contar quantas vezes cada ideograma aparece em cada hsk

In [37]:
df_list = list()
aux = pd.DataFrame()
palavras = df[['simplificado','nivel_hsk']]

for i in range(0, 4):
    aux['sinograma'] = palavras['simplificado'].str[i]
    aux['hsk'] = (palavras['nivel_hsk'])
    df_list.append(aux.copy())
ideo = pd.concat(df_list)
ideo = ideo.reset_index(drop=True).dropna()
ideo

      sinograma  hsk
0             我    1
1             你    1
2             是    1
3             了    1
4             不    1
...         ...  ...
19967         见    6
19968         深    6
19972         桑    6
19973         兽    6
19975         谊    6

[9656 rows x 2 columns]

Abaixo foi contado os ideogramas para cada hsk diferente

In [38]:
ideo_hsk = ideo.groupby(['sinograma', 'hsk']).size().reset_index(name='qtd')
ideo_hsk

     sinograma  hsk  qtd
0            一    1    2
1            一    2    3
2            一    3    7
3            一    4    1
4            一    5    8
...        ...  ...  ...
4771         齐    6    2
4772         齿    5    1
4773         龄    4    1
4774         龙    5    1
4775         龙    6    1

[4776 rows x 3 columns]

Para uma melhor visualização, foi pivotada a tabela acima

In [39]:
ideo_pivotado = pd.pivot_table(ideo_hsk, values='qtd', columns='hsk', index='sinograma').fillna(0)
ideo_pivotado[[1,2,3,4,5,6]] = ideo_pivotado[[1,2,3,4,5,6]].astype(int)

ideo_pivotado['total'] = ideo_pivotado.sum(axis=1)
ideo_pivotado = ideo_pivotado.sort_values(['total', 1, 2, 3, 4, 5, 6], ascending=False)
ideo_pivotado

hsk        1  2   3   4   5   6  total
sinograma
不          3  0   1   8  16  36     64
子          4  2  10  11  20  11     58
心          0  0   4   6  13  18     41
气          2  0   1   4   6  26     39
发          0  0   4   5  10  19     38
...       .. ..  ..  ..  ..  ..    ...
鲁          0  0   0   0   0   1      1
鸣          0  0   0   0   0   1      1
鸦          0  0   0   0   0   1      1
鸽          0  0   0   0   0   1      1
黎          0  0   0   0   0   1      1

[2660 rows x 7 columns]

Aqui é possível mudar o valor da variável "hsk" para visulizar os ideogramas mais frequentes no hsk escolhido

In [40]:
hsk = 3
ideo_pivotado.sort_values(hsk, ascending=False).head(20)

hsk        1  2   3   4   5   6  total
sinograma
子          4  2  10  11  20  11     58
一          2  3   7   1   8  10     31
照          0  0   4   2   2   5     13
过          0  1   4   4   4   8     21
地          0  0   4   3   9   8     24
意          0  1   4   5   2  15     27
关          1  0   4   1   3   4     13
要          0  1   4   2   4   7     18
心          0  0   4   6  13  18     41
发          0  0   4   5  10  19     38
了          1  0   3   1   2   2      9
节          0  0   3   2   3   8     16
习          1  0   3   1   1   2      8
记          0  0   3   2   3   6     14
经          0  1   3   3   4   5     16
为          0  2   3   2   2   6     15
行          0  0   3   5   4  13     25
机          1  2   3   1   1  13     21
然          0  1   3   5   8   8     25
公          0  2   3   2   7  11     25

Salvando em txt e em excel

In [47]:
ideo_pivotado.to_csv('../data/ideogramas por quantidade e hsk.txt')
ideo_pivotado.to_excel('../data/ideogramas por quantidade e hsk.xlsx')

Gerando uma nova tabela para visulizar todos os niveis de hsk ordenados do maior para o menor

In [49]:
lista_df = list()
for i in range(1,7):
    df_aux = ideo_pivotado[i].sort_values(ascending=False).reset_index(name='hsk ' + str(i))
    lista_df.append(df_aux.copy())
    
lista_df.append( ideo_pivotado['total'].sort_values(ascending=False).reset_index(name='total') )
tabela_final = pd.concat(lista_df, axis=1)
tabela_final

,sinograma,hsk 1,sinograma,hsk 2,sinograma,hsk 3,sinograma,hsk 4,sinograma,hsk 5,sinograma,hsk 6,sinograma,total
0,学,4,边,3,子,10,子,11,子,20,不,36,不,64
1,子,4,上,3,一,7,不,8,不,16,气,26,子,58
2,电,4,一,3,过,4,来,7,人,15,力,22,心,41
3,儿,4,哥,2,关,4,时,7,心,13,发,19,气,39
4,天,4,手,2,意,4,心,6,成,13,动,19,发,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,搜,0,搜,0,映,0,椒,0,翼,0,扶,0,裹,1
2656,措,0,措,0,昆,0,棋,0,耀,0,扇,0,裔,1
2657,捡,0,捡,0,旬,0,梳,0,胞,0,少,0,蝶,1
2658,捐,0,捐,0,撞,0,梨,0,脉,0,憾,0,蝴,1
2659,谦,0,不,0,谦,0,谦,0,黎,0,吸,0,黎,1

In [50]:
tabela_final.to_csv('../data/tabela sinogramas por quantidade e hsk.txt', index=False)
tabela_final.to_excel('../data/tabela sinogramas por quantidade e hsk.xlsx', index=False)