In [ ]:
import pandas as pd
import numpy as np
%matplolib inline

In [10]:
DATA_PATH = "../data/HSK Official With Definitions 2012 L1 freqorder.txt"

df = pd.read_csv(DATA_PATH, sep='\t', header=0, names=['simplificado', 'tradicional', 'pinyin_num', 'pinyin_carac', 'significado'])
df

,simplificado,tradicional,pinyin_num,pinyin_carac,significado
0,我,我,wo3,wǒ,I; me
1,你,你,ni3,nǐ,you (singular)
2,是,是,shi4,shì,be; is; are; am
3,了,了,le5,le,indicates a completed or finished action
4,不,不,bu4,bù,no; not
...,...,...,...,...,...
144,杯子,杯子,bei1zi5,bēizi,cup; glass
145,下雨,下雨,xia4yu3,xiàyǔ,to rain
146,米饭,米飯,mi3fan4,mǐfàn,(cooked) rice
147,北京,北京,Bei3jing1,Běijīng,Beijing
148,汉语,漢語,Han4yu3,Hànyǔ,Chinese language

In [31]:
palavras = df['simplificado']

In [46]:
ideo = list()
for i in range(0, palavras.str.len().max()):
    ideo.append(palavras.str[i].dropna())
ideo

[0      我
 1      你
 2      是
 3      了
 4      不
       ..
 144    杯
 145    下
 146    米
 147    北
 148    汉
 Name: simplificado, Length: 149, dtype: object,
 7      们
 13     么
 29     有
 31     么
 32     在
       ..
 144    子
 145    雨
 146    饭
 147    京
 148    语
 Name: simplificado, Length: 68, dtype: object,
 65     样
 66     起
 84     话
 105    系
 124    气
 131    车
 138    儿
 Name: simplificado, dtype: object]

In [64]:
lista = pd.Series()
for i in ideo:
    lista = lista.append(i)
lista

<ipython-input-64-595b9964a9b8>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  lista = pd.Series()

0      我
1      你
2      是
3      了
4      不
      ..
84     话
105    系
124    气
131    车
138    儿
Length: 224, dtype: object

In [62]:
lista[lista == '上']

28     上
142    上
dtype: object

In [65]:
lista = lista.reset_index(drop=True)

In [75]:
df_qtd = pd.DataFrame()
df_qtd['caracter'] = lista
df_qtd = df_qtd.groupby('caracter').size().reset_index(name='qtd')
df_qtd.sort_values('qtd', ascending=False)

    caracter  qtd
73         天    4
31         儿    4
82         学    4
80         子    4
133        电    4
..       ...  ...
74         太    1
27         作    1
72         大    1
28         你    1
172        高    1

[173 rows x 2 columns]